body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: relative;
}

h1 {
    margin: 0;
    color: white;
    font-size: 50px;
}

h3 {
    color: white;    
}

ul {
    margin: 0;
    padding: 0px 50px;
    color: white;
}

.toolbar{
    font-size: 35px;
    font-family: Verdana;
    height: 75px;
    position: fixed;
    align-content: center;
    background-color: black;
    color: white;
    padding-left: 6%;
    width: 100%;
    display: flex;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar a{
    margin: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.toolbar a:hover {
    text-decoration: underline;
}

.spacer {
    flex: 1 1 auto;
}

.navbar {
    display: flex;
    padding: 0 10%;
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 25%) 20%, rgb(31,45,57)), url("html1.png");
    background-size: cover;
    height: 1280px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-family: Verdana;
    font-weight: 600;
    text-shadow: 5px 5px black;
    min-width: 280px;
}

.home span {
    position: relative;
    width: fit-content;
}

.home span::before {
    animation: words 10s infinite;
    content: "Web Developer 🎅";
    color: red;
}

.home span::after {
    content: "";
    position: absolute;
    width: calc(3% + 8px);
    height: 100%;
    background-color: clear;
    right: -8px;
    /* border-left: 2px solid red;
    animation: cursor .8s infinite, typing 20s steps(14) infinite; */
}

/* @keyframes cursor {
    to{
        border-left: 2px solid clear;
    }
} */

@keyframes words {
    0%, 20%{
        content: "Web Developer...";
    }
    21%, 40%{
        content: "Software Developer...";
    }
    41%, 60%{
        content: "Game Developer...";
    }
    61%, 80%{
        content: "Superhero...";
    }
    81%, 100%{
        content: "Gamer...";
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

.about-me {
    height: 1280px;
    background-image: linear-gradient(176deg, rgb(31,45,57) 70%, rgb(26,26,26) calc(80% + 2px))
}

.left_block {
    padding: 50px;
    width: 30%;
    height: 500px;
    margin-left: 1%;
    background-color: rgb(26,26,26);
    float: left;
    border-radius: 75px;
    color: white;
}

.right_block {
    padding: 50px;
    width: 48%;
    margin: 0px 1% 0 36%;
    background-color: rgb(26,26,26);
    border-radius: 75px;
    color: white;
}

.Work_Experience {
    background-color: rgb(26,26,26);
    height: 1280px;
}


.Portfolio {
    background-color: rgb(26,26,26);
    height: 1280px;
}

.contact {
    background-color: rgb(26,26,26);
    height: 1280px;
}