body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: relative;
}

h1 {
    margin: 0;
    color: white;
    font-size: 50px;
}

h3 {
    color: white;    
}

ul {
    margin: 0;
    padding: 0px 50px;
    color: white;
}

/* Toolbar */

.toolbar{
    font-size: 35px;
    font-family: Verdana;
    height: 75px;
    position: fixed;
    align-content: center;
    background-color: black;
    color: white;
    padding-left: 6%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000; /* Ensures toolbar always stays on top    */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar a{
    margin: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.toolbar a:hover {
    text-decoration: underline;
}

.spacer {
    flex: 1 1 auto;
}

.navbar {
    display: flex;
    padding: 0 10%;
}

/* Homepage */

.home {
    background: linear-gradient(rgba(0, 0, 0, 25%) 20%, rgb(31,45,57)), url("html1.png");
    background-size: cover;
    height: 1280px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-family: Verdana;
    font-weight: 600;
    text-shadow: 5px 5px black;
    min-width: 280px;
}

.home span {
    position: relative;
    width: fit-content;
}

.home span::before {
    animation: words 10s infinite;
    content: "Web Developer 🎅";
    color: red;
}

.home span::after {
    content: "";
    position: absolute;
    width: calc(3% + 8px);
    height: 100%;
    background-color: clear;
    right: -8px;
}

@keyframes words {
    0%, 20%{
        content: "Web Developer...";
    }
    21%, 40%{
        content: "Software Developer...";
    }
    41%, 60%{
        content: "Game Developer...";
    }
    61%, 80%{
        content: "Superhero...";
    }
    81%, 100%{
        content: "Gamer...";
    }
}

/* About me */

.about-me {
    height: 1280px;
    background-image: linear-gradient(176deg, rgb(31,45,57) 70%, rgb(26,26,26) calc(80% + 2px))
}

.left_block {
    padding: 50px;
    width: 28%;
    height: 900px;
    margin-left: 7%;
    background-color: rgb(26,26,26);
    float: left;
    border-radius: 75px;
    color: white;
    font-size: 28px;
    line-height: 1.5;
    border: red solid 1px;   
}

.left_block b {
    font-size: 35px;
}

.selfpic img{
    height: 375px;
    margin: 0 2%;
    border-radius: 360px;
    position: flex;
    float: left;
}

.right_block {
    padding: 50px;
    height: 900px;
    max-width: 48%;
    margin-right: 7%;
    background-color: rgb(26,26,26);
    border-radius: 75px;
    color: white;
    font-size: 22px;
    line-height: 1.5;
    float: right;
    font-family: verdana;
    border: red solid 1px;    
}

.skills_technologies {
    padding-top: 15px;
    padding-left: 30px;
}

.skills_technologies b {
    padding-left: 50px;
}

.skills_technologies ul li{
    font-size: 25px;
    padding-top: 20px ;
    list-style-type: none;
}

.skills_technologies hr {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 4px red solid;
}

/* Work Experience */

.Work_Experience {
    padding-left: 6%;
    border: 3px red solid;
    background-color: black;
    height: 500px;
}

/* Portfolio */

.Portfolio {
    background-color: rgb(26,26,26);
    height: 1280px;
}

/* Contact */

.contact {
    background-color: rgb(26,26,26);
    height: 1280px;
}